<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Roboto+Condensed&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Roboto+Condensed&family=Sedgwick+Ave+Display&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Noto+Sans:wght@200&display=swap" rel="stylesheet">
doctype html
html
  head
    title Somu Dance Academy
    block scripts
    block style
  body
    nav#navbar
            ul 
                div#logo
                    img(src="../static/logo1.png", alt="")
                    |   SDA
                li #[a(href="/") Home]
                li #[a(href="/") Services]
                li #[a(href="/") About us ]
                li #[a(href="/contact") Contact us ]
    block content
    section#footer 
            |   Copyright © 2004-23 SomuDanceAcademy.com | All rights reserved